:root {
  --bg-dark: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  --bg-light: linear-gradient(to bottom, #f0f0f0 0%, #4d4d4d 100%);
  --text-dark: #f0f0f0;
  --text-light: #2b2b2b;
  --btn-dark: linear-gradient(to right, #2b2b2b 0%, #4d4d4d 51%, #2b2b2b 100%);
  --btn-light: linear-gradient(to right, #a7a7a7 0%, #f0f0f0 51%, #a7a7a7 100%);
  --btn-border-dark: #4d4d4d;
  --btn-border-light: #f0f0f0;
  --details-dark: #f0f0f0;
  --details-light: #4d4d4d;
  --switch-url-dark: url(../assets/moon.svg);
  --switch-url-light: url(../assets/sun.svg);
}

.lightMode {
  --bg-dark: var(--bg-light);
  --text-dark: var(--text-light);
  --btn-dark: var(--btn-light);
  --btn-border-dark: var(--btn-border-light);
  --details-dark: var(--details-light);
  --switch-url-dark: var(--switch-url-light);
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--bg-dark);
  margin: 40px auto 0px auto;
  color: var(--text-dark);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  gap: 20px;
}

main img {
  width: 140px;
  border-radius: 50%;
  border: 6px double var(--details-dark);
}

main img:hover {
  cursor: grab;
  transition: 0.5s;
  border: 6px solid var(--details-dark);
}

main span {
  font-weight: bold;
  font-size: 16px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
  cursor: pointer;
}

#switch button {
  width: 32px;
  height: 32px;
  background: var(--btn-border-dark) var(--switch-url-dark) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
  cursor: pointer;
  animation: slide-out 0.2s;
}

.lightMode #switch button {
  animation: slide-in 0.2s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 28px;
  background: var(--btn-dark);
  border: 1px solid var(--btn-border-dark);
  border-radius: 9999px;
}

#btnSec .btn {
  width: 360px;
  height: 40px;
  margin: 0px 20px 6px 20px;
  text-align: center;
  text-transform: uppercase;
  background-image: var(--btn-dark);
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--text-dark);
  border-radius: 20px;
  display: block;
  transition: 0.5s;
  border-color: var(--btn-border-dark);
}

#btnSec .btn:hover {
  transition: 0.5s;
  background-position: right center;
  /* change the direction of the change here */
  text-decoration: none;
  font-weight: bold;
  scale: 1.1;
  cursor: pointer;
}

#icoSec {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  gap: 50px;
}

#icoSec a:hover {
  cursor: pointer;
  transition: 0.5s;
  scale: 1.2;
}

#icoSec a:visited {
  color: var(--details-dark);
}

svg {
  color: var(--details-dark);
}